<h1>All Access Codes</h1>

<table id="table" class="table table-bordered table-striped">

  <thead>
    <th>Code</th>
    <th>Requester</th>
    <th>Email</th>
    <th>Actions</th>
  </thead>
  <tbody>
    <% @access_codes.each do |code| %>
      <% if !code.approved %>
        <tr>
          <td><%= link_to code.code, access_code_path(code) %></td>
          <td><%= code.requester %></td>
          <td><%= code.email %></td>
          <td><%= link_to "Approve", '#' %> | <%= link_to "Decline", '#' %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<%= link_to "Request New Code", new_access_code_path %>