<script>
  var jq = $.noConflict();
  $(function() {
    $('#access_code_start_time').datepicker();
    $('#end_date').datepicker();

    $('#duration').change(function() {
      $('#range_val').text($(this).val());
    });
  });
</script>

<h1>Request a Code here</h1>
</br>
<%= form_for(@access_code) do |f| %>
  <div class="field">
    <%= f.label :requester %>
    <%= f.text_field :requester, :placeholder => "Requester" %>
  </div>
  <div class="field">
    <%= f.label :email %>
    <%= f.text_field :email, :placeholder => "Email" %>
  </div>
  <div class="field">
    Start Date</br>
    <%= f.text_field :start_time, :placeholder => "XX/XX/XXXX" %>
  </div>

  Duration</br>
  <%= range_field_tag "access_code[duration]", 1, :min => 1, :max => 10 %>
  <span id="range_val">1</span> day(s)
  </br>
  </br>
  <%= f.submit "Request code" , :class => 'btn'%>
<% end %>