<!DOCTYPE html>
<html>
	<head>
	  <title>Demoable</title>
	  <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet">
	  <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
	  <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
	  <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
	  <script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
	  <%= stylesheet_link_tag    "demoable/application", :media => "all" %>
	  <%= javascript_include_tag "demoable/application" %>
	  <%= csrf_meta_tags %>
	</head>
	<body>
		<div class="navbar">
    <div class="navbar-inner">
      <div class="container">
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <%= link_to "Demoable", access_codes_path, :class => 'brand' %>
          <div class="nav-collapse collapse">
            <ul class="nav">
                <li>
                  <%= link_to "Login", access_codes_login_path %>
                </li>
              </ul>
          </div>
        </div>
	    </div>
	  </div>

		<div class="container">
			<div class="content">
				<div class="row">
					<div class="span12">
						<%= yield %>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
